@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Source+Serif+Pro");
.dp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.dp-flex-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.dp-flex-justify-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.dp-flex-justify-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.dp-flex-justify-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.center-absolute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.center-position-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

/* RESET */
* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  html::-webkit-scrollbar {
    width: 8px;
    background: #252627; }
  html::-webkit-scrollbar-thumb {
    background: #fd0049; }

body {
  margin: 0;
  padding: 0; }

hr, h1, h2, h3, h4, h5, p, img, ul, li {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0; }

ul, ol {
  list-style: none;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a, button, input {
  border: 0;
  padding: 0;
  font-size: inherit; }
  a:focus, a:active, button:focus, button:active, input:focus, input:active {
    outline: none;
    text-decoration: none; }

select, button, input {
  overflow: visible;
  border: none;
  /* Para safari , IOS*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  /* Para firefox */
  outline: none;
  /* Para crome, le quita la fechita*/
  /* */ }
  select::-ms-expand, button::-ms-expand, input::-ms-expand {
    display: none; }
  select:hover, button:hover, input:hover {
    cursor: pointer; }
  select:focus, button:focus, input:focus {
    outline: none; }

input[type="submit"]:hover {
  cursor: pointer; }

audio:not([controls]) {
  display: none;
  height: 0; }

audio, video, canvas {
  display: inline-block; }

button, input, select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.content_me {
  padding: 0 10px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center; }
  .content_me > p {
    margin-top: 15px;
    color: #fff;
    line-height: 25px; }

.tittle {
  font-size: 1.5rem; }
  .tittle h1 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px; }
    .tittle h1 span {
      margin-left: 5px;
      font-family: "Raleway", sans-serif;
      font-weight: normal; }
  @media (min-width: 48em) {
    .tittle {
      font-size: 3rem; } }

.nav-items {
  height: 0px;
  overflow: hidden; }
  .nav-items li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #b7b7b7;
    display: block; }

.navigation {
  position: fixed;
  top: -100%;
  left: 0;
  -webkit-transition: all 0.70s ease;
  transition: all 0.70s ease;
  width: 100%;
  opacity: 0;
  z-index: 500;
  right: 0;
  height: 0; }
  .navigation > ul {
    height: 100%;
    background-color: rgba(37, 38, 39, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .navigation > ul li {
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      width: 100%; }
      .navigation > ul li a {
        color: #fff;
        height: 5rem;
        letter-spacing: 0.2rem;
        width: 100%;
        font-size: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-transform: capitalize; }
      .navigation > ul li:hover {
        background-color: #FFF; }
        .navigation > ul li:hover a {
          color: #fd0049; }
  @media (min-width: 48em) {
    .navigation {
      top: 0;
      left: -100%;
      height: 100%;
      width: 0; } }

.view_nav {
  height: 100%;
  opacity: 1;
  top: 0;
  z-index: 400; }
  @media (min-width: 48em) {
    .view_nav {
      left: 80px;
      width: calc(100% - 80px); } }

.opacity_header {
  opacity: 1;
  background-color: #252627; }

header {
  position: fixed;
  height: 50px;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 600; }
  @media (min-width: 48em) {
    header {
      height: 100%;
      width: 80px;
      background-color: rgba(37, 38, 39, 0.9); } }

.btn-nav {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  margin-left: 10px;
  background-color: transparent;
  height: 30px; }
  .btn-nav i {
    height: 3px;
    background-color: #fd0049;
    display: block;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    position: relative;
    width: 35px;
    margin-bottom: 5px; }
    .btn-nav i:last-child {
      margin-bottom: 0; }
  @media (min-width: 48em) {
    .btn-nav {
      margin: 0 auto; } }

.btn-act {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn-act i {
    position: absolute; }
    .btn-act i:first-child {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .btn-act i:nth-child(2) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .btn-act i:last-child {
      display: none; }

.over_hidden {
  overflow: hidden; }

@media (min-width: 48em) {
  .container {
    padding-left: 80px; } }

.profile-skills, .skills_site {
  padding: 10px 10px; }

.tittle-animation {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  padding: 0 5px;
  -webkit-animation: typing 2.5s steps(30, end), blink-caret 0.75s infinite;
          animation: typing 2.5s steps(30, end), blink-caret 0.75s infinite; }

.tittle_dev {
  color: #fff;
  text-transform: capitalize;
  border-right: 0.2em;
  font-size: 1.2rem; }

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from {
    border-color: transparent; }
  to {
    border-color: #fd0049; } }
@keyframes blink-caret {
  from {
    border-color: transparent; }
  to {
    border-color: #fd0049; } }

.tittle_head {
  color: #000;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px; }
  .tittle_head:after {
    margin: 10px auto 0 auto;
    content: '';
    text-align: center;
    display: block;
    width: 50px;
    height: 3px;
    background: #fd0049; }
  @media (min-width: 48em) {
    .tittle_head {
      margin-bottom: 20px; }
      .tittle_head:after {
        margin-top: 20px;
        width: 100px; } }
  @media (min-width: 75em) {
    .tittle_head {
      font-size: 34px; } }

.container {
  background-color: #252627;
  min-height: 100vh; }

.made-cnt {
  overflow-x: hidden;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .made-cnt > p {
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 10px; }
    .made-cnt > p:last-child {
      margin-top: 15px; }
  @media (min-width: 48em) {
    .made-cnt {
      padding: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      min-height: 100vh; } }

.left_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .left_about > h2 {
    margin-bottom: 10px;
    margin-top: 15px;
    text-transform: capitalize; }
  @media (min-width: 48em) {
    .left_about {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.description_about > h2 {
  font-weight: 250;
  margin-bottom: 20px;
  color: #fd0049;
  font-size: 4rem; }

@media (min-width: 48em) {
  .description_about {
    width: 55%; } }

.description_about p {
  line-height: 1.5rem; }

.fadeInLeftBounce {
  -webkit-animation-name: fadeInLeftBounce;
          animation-name: fadeInLeftBounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; }

@-webkit-keyframes fadeInLeftBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: -1; }
  40% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px); }
  60% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  20%, 50%, 80%, 100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fadeInLeftBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: -1; }
  40% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px); }
  60% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  90% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  20%, 50%, 80%, 100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: -1; }
  100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: -1; }
  100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.fadeInTop {
  -webkit-animation-name: fadeInTop;
          animation-name: fadeInTop;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    z-index: -1; }
  40% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); }
  60% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  90% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  20%, 50%, 80%, 100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    z-index: -1; }
  40% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); }
  60% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  90% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  20%, 50%, 80%, 100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.fadeInBottom {
  -webkit-animation-name: fadeInBottom;
          animation-name: fadeInBottom;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s; }

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    z-index: -1; }
  40% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  60% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  90% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  20%, 50%, 80%, 100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    z-index: -1; }
  40% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  60% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  90% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  20%, 50%, 80%, 100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    z-index: -1; }
  100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    z-index: -1; }
  100% {
    opacity: 1;
    z-index: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.photo {
  width: 16rem;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 0 auto; }
  .photo img {
    border-radius: 50%;
    width: 100%;
    position: relative;
    z-index: 250; }
  @media (min-width: 48em) {
    .photo {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0; } }

.profile-skills li {
  margin-bottom: 10px;
  text-align: center; }
  .profile-skills li:hover i {
    background: transparent;
    border: 2px solid #fd0049;
    color: #fd0049; }
  .profile-skills li i {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    background: #fd0049;
    position: relative;
    color: #fff;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    border: 2px solid transparent; }
  .profile-skills li h4 {
    font-weight: bold;
    color: #fd0049;
    margin: 10px 0;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .profile-skills li p {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    text-align: justify; }

@media (min-width: 40em) {
  .profile-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 48em) {
  .profile-skills {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0 0 0;
    margin: 0 auto; }
    .profile-skills li {
      width: 30%; } }

@media (min-width: 75em) {
  .profile-skills li h4 {
    font-size: 24px; } }

.skills_site_about {
  padding-bottom: 30px;
  width: 100%;
  text-align: center; }
  .skills_site_about > li h3 {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 15px 0; }
  .skills_site_about > li i {
    font-family: "untitled-font-3";
    color: #fd0049;
    margin-top: 15px;
    display: block;
    font-size: 2rem; }
  .skills_site_about > li ul li {
    font-size: 1rem;
    margin-bottom: 5px;
    text-transform: capitalize; }
  @media (min-width: 48em) {
    .skills_site_about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 20px 0;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .skills_site_about > li {
        width: 30%; } }

.about_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .about_skills li {
    width: 40%;
    margin-left: 10%;
    text-align: left; }
  @media (min-width: 48em) {
    .about_skills {
      display: block; }
      .about_skills li {
        width: auto;
        margin-left: 0;
        text-align: center; } }

.made-site {
  margin-top: 10px;
  text-align: center; }
  .made-site h3 {
    text-transform: capitalize;
    font-family: "Source Serif Pro", serif; }
  .made-site h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Source Serif Pro", serif; }
    .made-site h4 span {
      display: block;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      line-height: 20px;
      font-size: 35px; }
  .made-site .btn-ref {
    margin: 20px auto;
    max-width: 200px; }

.common_sec {
  color: #fff;
  padding: 50px 10px 0 10px; }
  @media (min-width: 48em) {
    .common_sec {
      margin: 0 auto;
      padding: 0 2rem; }
      .common_sec p {
        margin-bottom: 10px; } }
  @media (min-width: 75em) {
    .common_sec {
      max-width: 1000px;
      padding: 0 0; } }

/* Header Canvas*/
.large-header {
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* Header Canvas*/
.item_skills > li {
  margin-bottom: 10px; }
  .item_skills > li h4 {
    text-transform: uppercase; }
  @media (min-width: 48em) {
    .item_skills > li {
      margin-bottom: 20px; } }

.outer_div {
  margin-top: 5px;
  height: 5px;
  background-color: #CCC; }
  .outer_div .inner_div {
    width: 5px;
    height: 5px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #71b280;
    box-shadow: inset 0px 0px 20px #71b280;
    -webkit-animation-name: progressBar;
            animation-name: progressBar;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  @media (min-width: 48em) {
    .outer_div {
      height: 10px; }
      .outer_div .inner_div {
        height: 10px; } }

@-webkit-keyframes progressBar {
  from {
    width: 5px; }
  to {
    width: 80%; } }

@keyframes progressBar {
  from {
    width: 5px; }
  to {
    width: 80%; } }

.contact_bloq > h4 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  text-align: center; }

.list_cnt_contact {
  margin-top: 20px; }
  .list_cnt_contact li {
    position: relative;
    color: red; }
    .list_cnt_contact li span {
      display: block;
      content: '';
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      width: 0;
      position: absolute;
      bottom: 15px;
      left: 0;
      height: 2px;
      background-color: #fd0049; }
    .list_cnt_contact li input, .list_cnt_contact li textarea {
      resize: none;
      width: 100%;
      border: none;
      margin-bottom: 15px;
      padding: 10px 10px;
      position: relative;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      font-size: 1.5rem;
      z-index: 300; }
      .list_cnt_contact li input::-webkit-input-placeholder, .list_cnt_contact li textarea::-webkit-input-placeholder {
        text-transform: capitalize; }
      .list_cnt_contact li input:-ms-input-placeholder, .list_cnt_contact li textarea:-ms-input-placeholder {
        text-transform: capitalize; }
      .list_cnt_contact li input::placeholder, .list_cnt_contact li textarea::placeholder {
        text-transform: capitalize; }
      .list_cnt_contact li input:focus ~ span, .list_cnt_contact li textarea:focus ~ span {
        width: 100%; }
    .list_cnt_contact li textarea {
      height: 8rem; }
  .list_cnt_contact .cnt_textarea span {
    bottom: 18px; }

@media (min-width: 75em) {
  .portfolio_site {
    max-width: 80%; } }

.grid_portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  overflow-x: hidden;
  padding: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 48em) {
    .grid_portfolio {
      padding: 4rem 0;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 75em) {
    .grid_portfolio li {
      width: 48%; } }
  .grid_portfolio li {
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 250; }
    .grid_portfolio li img {
      width: 100%;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      max-height: 350px; }
    .grid_portfolio li a {
      display: block;
      position: relative; }
      .grid_portfolio li a > span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        left: 0;
        letter-spacing: 0.5rem;
        color: #fd0049;
        top: 0;
        text-transform: uppercase;
        font-size: 1.5rem;
        background-color: rgba(37, 38, 39, 0.9);
        width: 100%;
        opacity: 0;
        -webkit-transform: rotateX(-180deg);
                transform: rotateX(-180deg);
        height: 100%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .grid_portfolio li a > span h4 {
          font-weight: bold; }
    .grid_portfolio li:hover img {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .grid_portfolio li:hover span {
      opacity: 1;
      -webkit-transform: rotateX(0);
              transform: rotateX(0); }

.contact_site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 0; }

.contact_bloq {
  width: 100%; }
  @media (min-width: 48em) {
    .contact_bloq {
      max-width: 60%;
      margin: 0 auto; } }

.cnt_button_contact {
  max-width: 40%;
  margin: 0 auto; }
  .cnt_button_contact .contact_form_btn {
    display: block;
    font-size: 1rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    background-color: #fd0049;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    width: 100%;
    position: relative;
    z-index: 200; }
    .cnt_button_contact .contact_form_btn:before, .cnt_button_contact .contact_form_btn:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      width: 0;
      height: 0; }
    .cnt_button_contact .contact_form_btn:before, .cnt_button_contact .contact_form_btn:after {
      border: 2px solid transparent;
      width: 0;
      height: 0; }
    .cnt_button_contact .contact_form_btn:before {
      top: 0;
      left: 0; }
    .cnt_button_contact .contact_form_btn:after {
      bottom: 0;
      right: 0; }
    .cnt_button_contact .contact_form_btn:hover {
      background-color: transparent;
      color: #fd0049; }
      .cnt_button_contact .contact_form_btn:hover:before, .cnt_button_contact .contact_form_btn:hover:after {
        width: 100%;
        height: 100%; }
      .cnt_button_contact .contact_form_btn:hover:hover:before {
        border-top-color: #fd0049;
        border-right-color: #fd0049;
        -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
      .cnt_button_contact .contact_form_btn:hover:hover:after {
        border-bottom-color: #fd0049;
        border-left-color: #fd0049;
        -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
        transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

@font-face {
  font-family: "untitled-font-3";
  src: url("../../fonts/untitled-font-3.eot");
  src: url("../../fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"), url("../../fonts/untitled-font-3.woff") format("woff"), url("../../fonts/untitled-font-3.ttf") format("truetype"), url("../../fonts/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-diamond:before {
  content: "\61"; }

.icon-barbell:before {
  content: "\62"; }

.icon-headphones:before {
  content: "\63"; }

.icon-pencil:before {
  content: "\64"; }

.icon-widget:before {
  content: "\65"; }

.icon-circle-o-notch:before {
  content: "\66"; }

html, body {
  min-height: 100vh; }

html {
  font-size: 87.5%; }
  @media (min-width: 48em) {
    html {
      font-size: 100%; } }
  @media (min-width: 75em) {
    html {
      font-size: 18px; } }

body {
  font: 100%/1.5;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

p {
  font-size: 1rem; }

* {
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

.btn-ref {
  text-transform: uppercase;
  border: 1px solid #212121;
  display: block;
  color: #000;
  border-radius: 3px 3px 3px 3px;
  padding: 10px 10px; }

.hidde_sec {
  position: relative; }

/* ---- particles.js container ---- */
#stats {
  display: none !important; }

#particles-js {
  width: 100%;
  z-index: 200;
  height: 100%;
  position: fixed;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/*# sourceMappingURL=../maps/style.css.map */
